.hero-section {
  background-image: url("../../../assets/images/pattern-bg-mobile.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

.hero-headline {
  font-size: 1.5rem;
  color: white;
  font-weight: var(--medium);
}

.hero-input-form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.hero-input-text {
  border: 0px;
  border-radius: 5px 0px 0px 5px;
}

.hero-input-btn {
  border: 0px;
  background-color: black;
  width: 50px;
  border-radius: 0px 5px 5px 0px;
}
 
 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }